@font-face {
    font-family: "jet";
    src: url("JetBrainsMono-Regular.woff2");
}

.container {
    width: 650px;
    margin: 0 auto;
    padding: 19px;
    background-color: #000000;
    border-radius: 100px;
}

.title {
    color: rgb(12, 0, 101);
    font-size: 50px;
    font-family: arial black;
}

h1 {
    font-size: 50px;
    font-weight: 0;
    color: rgb(255, 255, 255);
    font-family: jet, arial;
}